body {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-self: center;
  margin-left: 200px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-button-panel {
  display: flex;
  flex-direction: column;
  height: 650px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.grid-container {
  display: flex;
  border-style: solid;
  width: 650px;
  height: 650px;
  align-self: center;
  flex-wrap: wrap;
  margin-left: 200px;
}

button {
  padding: 10px;
  margin: 10px;
}

.slider {
  width: 200px;
}

.slide-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
